.geo-data-card {
    border: 1px dotted black;
    width: 400px;
    display: grid;
    grid-template-columns: 20% 35% 12% 13% 20%;

}

.geo-data-card > div {
    border-right: 1px solid black;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}