<div class="home-wrap">

	<app-header-form (onEmitCityName)="gettingCityName($event)" (onEmitError)="onOpenErrorWindow()"></app-header-form>

	<div *ngIf="geoLocationData$ | async as geoLocationData" class="geodata-card-container child-app-wrap">
		<div class="geo-data-card-table">
			<div>City</div>
			<div>Country</div>
			<div>State</div>
			<div>Latitutde</div>
			<div>Longitude</div>
			<div>Choose city</div>
		</div>
		<div *ngFor="let gd of geoLocationData; let i = index" >
			<app-geodata-card
				[geoData]="gd"
				[countryNames]="countryNames$ | async"
				[isSelected]="selectedCardIndex === i"
				(emitingLatAndLon)="gettingLatAndLon($event, i)"
			></app-geodata-card>
		</div>
	</div>
	
	<app-city-search-error [citySearchError$]="citySearchError$" (onEmitEvent)="onCloseErrorWindow()"></app-city-search-error>


	<div *ngIf="timeData$" class="timeinfo-card-home-container child-app-wrap" >
		<app-time-info-card [timeInfo$]="timeData$"></app-time-info-card>
	</div>

	<div *ngIf="weatherData$">
		<app-weather-info-card [weatherData]="weatherData$ | async"  (onEmitForAqi)="sendInfoForAqi()"></app-weather-info-card>
	</div>

</div>
