<div class="weather-info-card-wrap" *ngIf="weatherData">
	<div *ngFor="let i of weatherData?.weather" class="cloud-description-wrap">
		<div class="cloud-description-content" >
			<div>{{firstLetterToUpperCase(i.description)}} ({{weatherData.clouds.all}}%-ban
                felhős)</div>
          <div>
            <img class="weather-icon"
            src="https://openweathermap.org/img/wn/{{i.icon}}@2x.png"
            alt="icon"/>

          </div>  
		</div>
	
	</div>

	<div class="temperature">
		<div>Hőmérséklet:</div>
		<div>{{weatherData.main.temp.toFixed(1)}} C°</div>
	</div>

	<div class="temp_feel">
		<div>Hőérzet:</div>
		<div>{{weatherData.main.feels_like.toFixed(1)}} C°</div>
	</div>

	<div class="pressure">
		<div>Légnyomás (tengerszinten):</div>
		<div>{{weatherData.main.sea_level}} hPa</div>
	</div>

	<div class="humidity">
		<div>Páratartalom:</div>
		<div>{{weatherData.main.humidity}} %</div>
	</div>

	<div class="wind-direction">
		<div>Szélirány:</div>
		<div>{{weatherData.wind.deg}}° ({{getWindDirection(weatherData.wind.deg)}})</div>
	</div>

	<div class="wind-speed">
		<div>Szél sebesség:</div>
		<div>
			{{convertWindSpeed(+weatherData.wind.speed.toFixed(1))}} km/ó ({{getWindSpeedExplanation(weatherData.wind.speed)
			}})
		</div>
	</div>

	
    <div class="sunrise">
            <div>Napfelkelte (magyar idő szerint):</div>
            <div>{{convertEpochTime(weatherData.sys.sunrise) | date:'yyyy:MM:dd HH:mm'}}</div>
    </div>

    <div class="sunfall">
            <div>Naplemente: (magyar idő szerint)</div>
            <div>{{convertEpochTime(weatherData.sys.sunset) | date:'yyyy:MM:dd HH:mm'}}</div>
    </div>

    <!-- <div class="sunrise">
            <div>Napfelkelte (helyi idő szerint):</div>
            <div>{{convertEpochLocalTime(weatherData.sys.sunrise, weatherData.timezone) | date:'yyyy:MM:dd HH:mm'}}</div>
    </div>

    <div class="sunfall">
            <div>Naplemente: (helyi idő szerint)</div>
            <div>{{convertEpochLocalTime(weatherData.sys.sunset, weatherData.timezone) | date:'yyyy:MM:dd HH:mm'}}</div>
    </div>

    <div class="shift">
            <div>utc: </div>
            <div>{{weatherData.timezone}}</div>
    </div> -->


</div>
